__pycache__/
.mypy_cache/
.venv/
# descomentar depois -> testes.py
# descomentar depois -> debug_view.py                               para podermos testar depois no cluster
# descomentar depois -> maze_analyzer.py
maze.txt